.substations {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.burger {
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 6px 12px;
  gap: 8px;
  font-family: 'Roboto', sans-serif;
}

.save__button {
  background-color: #005baa;
  border-radius: 4px;
  color: white;
  padding: 9px 12px;
  gap: 8px;
  max-height: 38px;
  font-family: 'Roboto', sans-serif;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #DEE2E6;
}

.tabs button {
  color: #005BAA;
  padding: 8px 12px;
}

.tabs button.active {
  background-color: #f2f2f2;
  border: 1px solid #DEE2E6;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  color: black;
}

.view__button_group {
  max-width: 183px;
  display: flex;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
}

.view__button_group button {
  flex: 1;
  padding: 8px 12px;
}

.view__button_group button:first-child {
  border-right: 1px solid #DEE2E6;
}

.view__button_group .active {
  background-color: #f0f0f0;
  border-bottom: none;
}

.select__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select__group select {
  border: 1px solid #DEE2E6;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 12px;
  max-height: 38px;
}

.select__wrapper {
  display: flex;
  gap: 10px;
}

.toggle__wrapper {
  gap: 10px;
}

.toggle {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 16px;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 8px;
  bottom: 0;
  border: 1px solid #d7d7d7;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch__slider.active {
  background-color: #005baa;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 1px;
  bottom: 1px;
  border-radius: 50%;
  background-color: #bebebe;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch__slider.active:before {
  background-color: white;
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr.active td {
  background-color: #005BAA1A;
}

th, td {
  width: 50%;
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;

}

th {
  background-color: #f2f2f2;
}
