.sections__wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

section {
  width: 50%;
  height: 100%;
  padding: 17px 30px;
}

.divider {
  flex-direction: column;
  width: 11px;
  background-color: #F2F2F2;
}
