.sections__wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

section {
  flex-grow: 1;
  padding: 17px 30px;
  overflow-x: auto;
}

.divider {
  flex-direction: column;
  width: 11px;
  background-color: #F2F2F2;
  cursor: col-resize;
}
