<div *ngIf="popUpIsActive" class="monitorPopup">
  <div class="header">
    <span>{{mode === 'edit' ? 'Редактировать' : 'Добавить'}} замеры</span>
    <button class="center" (click)="closeHandler()">X</button>
  </div>
  <form [formGroup]="monitorFormGroup">
    <label>
      <span>Дата:</span>
      <input type="date" formControlName="date">
    </label>
    <label>
      <span>Время:</span>
      <input type="time" formControlName="time" step="2">
    </label>
    <label>
      <span>Источник:</span>
      <select formControlName="source">
      <option value="Оператор">Оператор</option>
      <option value="SCADA">SCADA</option>
      <option value="АСКУЭ">АСКУЭ</option>
      <option value="Регистратор">Регистратор</option>
    </select>
    </label>
    <label>
      <span>Фаза:</span>
      <input type="text" formControlName="phase">
    </label>
    <label>
      <span>U, kB:</span>
      <input type="text" formControlName="kb" (input)="numberInputsChangeHandler($event, 'kb')">
    </label>
    <label>
      <span>I, A:</span>
      <input type="text" formControlName="a" (input)="numberInputsChangeHandler($event, 'a')">
    </label>
    <label>
      <span>P, MBt:</span>
      <input type="text" formControlName="mvt" (input)="numberInputsChangeHandler($event, 'mvt')">
    </label>
    <label>
      <span>Q, Мвар:</span>
      <input type="text" formControlName="mvar" (input)="numberInputsChangeHandler($event, 'mvar')">
    </label>
    <label>
      <span>cos φ:</span>
      <input type="text" formControlName="cos" (input)="numberInputsChangeHandler($event, 'cos')">
    </label>
    <button type="button" class="save__button" (click)="onSave()">Сохранить</button>
  </form>
</div>
