/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: 'Segoe UI';
  src: url('../public/SegoeUI.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

select {
  background: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: 'Segoe UI', sans-serif;
  cursor: pointer;
  border: none;
  background: none;
}

th {
  font-weight: 400;
  font-size: 18px;
}

@media screen and (max-width: 1400px) {
  th, td {
    padding: 4px !important;
    font-size: 12px;
  }
}
